#login-buttons {
	margin-bottom: 10px;
}

body {
	padding: 10px;
}

.forms {
	display: block;
	margin-bottom: 20px;
	margin-left: 0;
	list-style: none;
}

.forms input {
	margin-left: 4px;
}

.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}

.table {
    //margin-bottom: 20px;
    width: 100%;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

.caption {
	width: 140px;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.destroy {
    background: url('/destroy.png') no-repeat 0 0;
    width: 30px;
}

.edit {
    background: url('/pencil.png') no-repeat 0 0;
    background-size: 100% auto;
    width: 30px;
    background-position: 0 -10px;
}

.destroy:hover {
    background-position: 0 -20px;
}