<template name="forms">
	<ul class="forms">
		{{#each meta}}
		<li>
        	{{#if isType "text"}}
                <div class="caption inline">{{caption}}:</div>
                <input class="form" field="{{field}}" type="text" value="{{value ../..}}"/>
            {{/if}}{{#if isType "table"}}
                {{#with context ../..}}{{>table}}{{/with}}
        	{{/if}}{{#if isType "button"}}
                {{#if method}}
                <input class="method" method={{method}} type="button" value="{{caption}}"/>
                {{else}}
                <input class="{{field}}" type="button" value="{{caption}}"/>
                {{/if}}
            {{/if}}
		</li>
		{{/each}}
	</ul>
</template>